/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-size-root: 1.3em !default;
$navbar-bg: #f58025;
$navbar-fg: #ffffff;
$link-color: #f58025;
$code-color: #000000;
$body-color: #323232;